.vert{
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.boiteBleue{
    width: 95vw;
    height: 95vh;
    border: 5px blue solid;
    border-radius: 5%;
}

.violet{
    color: blueviolet;
    border: 3px blueviolet solid;
    width: 50vw;
    height: 50vh;
}
